<a href="https://colab.research.google.com/github/BrunaKrasotaMatos/An-liseEstat-stica/blob/main/Trilha1/Trilha1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# Import the data 
pelicanStores <- read.csv(file = 'PelicanStores_Bru.csv', stringsAsFactors = FALSE)
head(pelicanStores)

  Cliente Tipo.de.Cliente Itens Vendas.líquidas Método.de.Pagamento Gênero
1 1       Regular         1      39.5           Discover            Masculino
2 2       Promocional     1     102.4           Cartão Proprietário Feminino
3 3       Regular         1      22.5           Cartão Proprietário Feminino
4 4       Promocional     5     100.4           Cartão Proprietário Feminino
5 5       Regular         2      54.0           MasterCard          Feminino
6 6       Regular         1      44.5           MasterCard          Feminino
  Estado.Civil Idade
1 Casado       32
2 Casado       36
3 Casado       32
4 Casado       28
5 Casado       34
6 Casado       44

In [5]:
moda_cliente = table(pelicanStores[,1])
moda_cliente
moda_tipo_cliente = table(pelicanStores[,2])
moda_tipo_cliente
moda_metodo_pg = table(pelicanStores[,5])
moda_metodo_pg
moda_gen = table(pelicanStores[,6])
moda_gen
moda_est_civil = table(pelicanStores[,7])
moda_est_civil

  1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17  18  19  20
  1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1
 21  22  23  24  25  26  27  28  29  30  31  32  33  34  35  36  37  38  39  40
  1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1
 41  42  43  44  45  46  47  48  49  50  51  52  53  54  55  56  57  58  59  60
  1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1
 61  62  63  64  65  66  67  68  69  70  71  72  73  74  75  76  77  78  79  80
  1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1
 81  82  83  84  85  86  87  88  89  90  91  92  93  94  95  96  97  98  99 100
  1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1

Promocional     Regular
         70          30

   American Express Cartão Proprietário            Discover          MasterCard
                  2                  70                   4                  14
               Visa
                 10

 Feminino Masculino
       93         7

  Casado Solteiro
      84       16

In [ ]:
str(pelicanStores)

'data.frame':	100 obs. of  8 variables:
 $ Cliente            : int  1 2 3 4 5 6 7 8 9 10 ...
 $ Tipo.de.Cliente    : chr  "Regular" "Promocional" "Regular" "Promocional" ...
 $ Itens              : int  1 1 1 5 2 1 2 1 2 1 ...
 $ Vendas.líquidas    : num  39.5 102.4 22.5 100.4 54 ...
 $ Método.de.Pagamento: chr  "Discover" "Cartão Proprietário" "Cartão Proprietário" "Cartão Proprietário" ...
 $ Gênero             : chr  "Masculino" "Feminino" "Feminino" "Feminino" ...
 $ Estado.Civil       : chr  "Casado" "Casado" "Casado" "Casado" ...
 $ Idade              : int  32 36 32 28 34 44 30 40 46 36 ...

In [ ]:
# pegar algumas características
summary(pelicanStores)

    Cliente       Tipo.de.Cliente        Itens       Vendas.líquidas
 Min.   :  1.00   Length:100         Min.   : 1.00   Min.   : 13.23
 1st Qu.: 25.75   Class :character   1st Qu.: 1.00   1st Qu.: 39.60
 Median : 50.50   Mode  :character   Median : 2.00   Median : 59.70
 Mean   : 50.50                      Mean   : 3.22   Mean   : 77.60
 3rd Qu.: 75.25                      3rd Qu.: 4.00   3rd Qu.:100.90
 Max.   :100.00                      Max.   :17.00   Max.   :287.59
 Método.de.Pagamento    Gênero          Estado.Civil           Idade
 Length:100          Length:100         Length:100         Min.   :20.00
 Class :character    Class :character   Class :character   1st Qu.:32.00
 Mode  :character    Mode  :character   Mode  :character   Median :42.00
                                                           Mean   :43.08
                                                           3rd Qu.:50.00
                                                           Max.   :78.00

In [ ]:
# se mesmo assim eu quiser calcular cada um separado
# media de alguma coluna
summary(pelicanStores[,3])
media_itens = mean(pelicanStores[,3])
media_itens
# mediana da coluna itens
mediana_itens = median(pelicanStores[,3])
mediana_itens
# desvio padrao
desvio_padrao = sd(pelicanStores[,3])
desvio_padrao
# variancia
variancia = var(pelicanStores[,3])
variancia
# Moda - não existe função moda
# pedimos para ele listar os valores que aparecem
# pode ser para variaveis não numéricas tbm
moda = table(pelicanStores[,3])
moda

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
   1.00    1.00    2.00    3.22    4.00   17.00

[1] 3.22

[1] 2

[1] 2.73614

[1] 7.486465

 1  2  3  4  5  6  7  8  9 10 13 17
29 27 10 10  9  7  1  1  3  1  1  1

In [ ]:
# se mesmo assim eu quiser calcular cada um separado
# media de alguma coluna
summary(pelicanStores[,4])
media_vendas_liq = mean(pelicanStores[,4])
media_vendas_liq
# mediana da coluna itens
mediana_vendas_liq = median(pelicanStores[,4])
mediana_vendas_liq
# desvio padrao
desvio_padrao_vendas_liq = sd(pelicanStores[,4])
desvio_padrao_vendas_liq
# variancia
variancia_vendas_liq = var(pelicanStores[,4])
variancia_vendas_liq
# Moda - não existe função moda
# pedimos para ele listar os valores que aparecem
# pode ser para variaveis não numéricas tbm
moda_vendas_liq = table(pelicanStores[,4])
moda_vendas_liq

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
  13.23   39.60   59.70   77.60  100.90  287.59

[1] 77.6005

[1] 59.705

[1] 55.66494

[1] 3098.585

 13.23  14.82     18   19.5   20.8  22.42   22.5   23.8     25  28.44   29.5
     1      1      1      1      1      1      2      1      1      1      2
 30.02   31.6   37.5   38.5     39   39.5   39.6     40   44.5   44.8  45.22
     1      4      1      1      1      3      2      1      3      1      1
    46   46.5   47.2   47.6   49.5   52.5   53.2   53.6     54   54.5  56.52
     1      1      1      1      3      1      1      1      1      1      1
  57.6     58   58.5   59.5  59.91   62.4   63.2  63.64   64.5   65.2     66
     1      2      1      1      1      1      2      1      1      1      1
    69  70.82   71.2   71.4     74     75     78   80.4  84.74   86.8     89
     1      1      1      1      2      1      2      1      1      1      1
    94  95.05   95.2  100.4  102.4  102.5  105.5    107  108.8 111.14    113
     1      1      1      1      1      1      1      1      1      1      1
 117.5  118.8  123.1  123.5  141.6    144  145.2  146.8 155.32 159.75  160.4
     1      1      1      1      1      1      1      1      1      1      1
176.62  192.8  198.8  229.5    253    266 287.59
     1      1      1      1      1      1      1

In [ ]:
# se mesmo assim eu quiser calcular cada um separado
# media de alguma coluna
summary(pelicanStores[,8])
media_idade = mean(pelicanStores[,8])
media_idade
# mediana da coluna itens
mediana_idade = median(pelicanStores[,8])
mediana_idade
# desvio padrao
desvio_padrao_idade = sd(pelicanStores[,8])
desvio_padrao_idade
# variancia
variancia_idade = var(pelicanStores[,8])
variancia_idade
# Moda - não existe função moda
# pedimos para ele listar os valores que aparecem
# pode ser para variaveis não numéricas tbm
moda_idade = table(pelicanStores[,8])
moda_idade

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
  20.00   32.00   42.00   43.08   50.00   78.00

[1] 43.08

[1] 42

[1] 12.38905

[1] 153.4885

20 22 24 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 68 70 72 74 78
 2  2  1  5  8  8  3  6  5  4  7  7  9  6  3  2  8  2  1  2  3  2  1  1  1  1

In [ ]:
library(dplyr)
media_itens = group_by(pelicanStores, Itens)
#media_itens
summarise(media_itens,mean(Idade))

valores = pelicanStores[,4]
valores
#valores
#b <- gsub(',', '.', valores)
#valores_num = as.numeric(b)
summarise(media_itens,mean(valores))

   Itens mean(Idade)
1   1    43.86207
2   2    42.96296
3   3    36.40000
4   4    42.80000
5   5    46.88889
6   6    45.42857
7   7    50.00000
8   8    54.00000
9   9    38.66667
10 10    52.00000
11 13    42.00000
12 17    30.00000

  [1]  39.50 102.40  22.50 100.40  54.00  44.50  78.00  22.50  56.52  44.50
 [11]  29.50  31.60 160.40  64.50  49.50  71.40  94.00  54.50  38.50  44.80
 [21]  31.60  70.82 266.00  74.00  39.50  30.02  44.50 192.80  71.20  18.00
 [31]  63.20  75.00  63.20  40.00 105.50  29.50 102.50 117.50  13.23  52.50
 [41] 198.80  19.50 123.50  62.40  23.80  39.60  25.00  63.64  14.82 145.20
 [51] 176.62 118.80  58.00  74.00  49.50 141.60 123.10  80.40  65.20 113.00
 [61] 108.80  59.91  53.60  31.60  49.50  39.60  59.50 146.80  47.20  95.05
 [71] 155.32  58.00  69.00  46.50  45.22  84.74  39.00 111.14  86.80  89.00
 [81]  78.00  53.20  58.50  46.00  37.50  20.80 144.00 107.00  31.60  57.60
 [91]  95.20  22.42 159.75 229.50  66.00  39.50 253.00 287.59  47.60  28.44

   Itens mean(valores)
1   1    77.6005
2   2    77.6005
3   3    77.6005
4   4    77.6005
5   5    77.6005
6   6    77.6005
7   7    77.6005
8   8    77.6005
9   9    77.6005
10 10    77.6005
11 13    77.6005
12 17    77.6005